<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.lovetoolbox.mapper.RecipeMapper">

    <resultMap id="BaseResultMap" type="com.study.lovetoolbox.model.entity.Recipe">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="recipeName" column="recipe_name" jdbcType="VARCHAR"/>
            <result property="isEnablePrice" column="is_enable_price" jdbcType="TINYINT"/>
            <result property="isEnablePicture" column="is_enable_picture" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,recipe_name,
        is_enable_price,is_enable_picture,create_time,
        update_time,is_deleted
    </sql>
</mapper>
